html {
    background-color: #f8fafc !important;
}

.status-icon-sucess {
    height: 15px;
    width: 15px;
    background-color: #19c474;
    border-radius: 5%;
    padding: 5px 8px 5px 8px;
    color: white;
}

.status-icon-danger {
    height: 15px;
    width: 15px;
    background-color: #d45b5b;
    border-radius: 5%;
    padding: 5px 6px 5px 6px;
    color: white;
}

.container {
    /* margin-left: 0px !important;
    margin-right: 0px !important; */
}
.table-container {
    border-radius: 2%;
    box-shadow: 1px 1px 4px 1px #ccc;
    background-color: #fdfdfd;
    padding-bottom: 10px;
}

td a { 
    display: block; 
}

/* laravel default shit */
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item:hover {
    background-color: #f8fafc;
}

.m-b-md {
    margin-bottom: 30px;
}